.flashy {
  color: red;
  font-style: italic;
}

.best {
  font-weight: bold;
  font-family: fantasy;
  border: dashed blue 4px;
  font-size: 20px;
}

.sidebar {
  float: right;
  width: 20%;
  margin: 10px;
}

.column {
  float: left;
  width: 20%;
  margin: 5px;
  text-align: center;
}

img {
  width: 200px;
  height: auto;
}

.intro-opacity {
  opacity: 0.5;
  z-index: -1;
  position: relative;
  border: solid black 10px;
  background-image: url("../img/background.jpg");
  text-align: center;
  margin: -20px -20px 20px -20px;
  height: 150px;
}

.intro-text {
  margin-top: -160px;
  margin-bottom: 80px;
  text-align: center;
  z-index: 1;
  position: relative;
}
